{% extends 'base.html.twig' %}

{% block body %}
    <div id="activity">

        <h2>Choisissez votre activité</h2>

        {% for e in entity %}
            <div class="activities">
                <img src="{{ asset('bundles/app/images/activity/'~e.picture) }}"/>
                <br />{{ e.name }}
            </div>
        {% endfor %}

        <a href="{{ path('users') }}" class="validate">Valider</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function() {
            $(".activities").click(function(){

                if ($(this).hasClass("red")) {
                    $(this).removeClass("red");
                }
                else {
                    $(this).addClass("red");
                }
            });
        });
    </script>
{% endblock %}