{% extends 'base.html.twig' %}

{% block body %}
    <div id="activity">

        <h2>Les amis</h2>

        <div id="users">
            <img src="{{ asset('bundles/app/images/profil1.jpg') }}"/>
            <img src="{{ asset('bundles/app/images/profil2.jpg') }}"/>
            <img src="{{ asset('bundles/app/images/profil3.jpg') }}"/>
            <img src="{{ asset('bundles/app/images/profil4.jpg') }}"/>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}