{% extends 'base.html.twig' %}

{% block body %}
    <div id="container">
        <div id="body">
            <div id="logo">LOGO</div>

            <div id="links">
                <div id="connexion">Se Connecter</div>
                <div id="inscription">S'inscrire</div>
            </div>


            <div id="menu">
                <div>
                    <img src=""/>
                    Rencontres
                </div>
                <div>
                    <img src=""/>
                    Médecins
                </div>
                <div>
                    <img src=""/>
                    Faire le questionnaire
                </div>
                <div>
                    <img src=""/>
                    Documentation
                    En Savoir +
                </div>
            </div>
        </div>

        <footer>
            <a>Truc</a>
            <a>ergg</a>
            <a>gergerh</a>
        </footer>
    </div>

{% endblock %}