body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #999999;
    min-height: 5vh;
}

footer a {
    justify-content: space-between;
    color: white;
    width: 30%;
    text-align: center;
    font-size: 0.8em;
}

#container {
    min-height:100vh;
    display:flex; /* 2 */
    flex-direction:column;
}

#body {
    flex-grow:1;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
}

#logo img {
    width: 80px;
}

#connexion {
    width: 40%;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

#links div {
    width: 40%;
    display: inline-block;
    margin: 10px;
    text-align: center;
    padding: 5px;
    font-family: 'Lato', sans-serif;
}

#links div a {
    text-decoration: none;
    color: white;
}

#connexion {
    background-color: #006699;
    border-radius: 5px;
}

#inscription {
    background-color: white;
    border-radius: 5px;
    color: #006699;
    border: 1px solid #006699;
}

#inscription a {
    color: #006699!important;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 60vh;
}

#menu a {
    border: 1px solid #CDCDCD;
    background-color: #F2F2F2;
    font-family: 'Lato', sans-serif;
    color: #990000;
    width: 40%;
    display: inline-block;
    margin: 5px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    min-height: 200px;
}

#menu div:hover {
    background-color: #d6d8d8;
}

#menu img {
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

footer .middle
{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#questionnaire {

}

#questionnaire h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
}

#questionnaire h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    color: #990000;
    margin: 0 0 10px 0;
}

#questionnaire #form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 10px;
}

#step {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    margin: 10px;
}

#step span {
    background-color: #999999;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    margin: 10px;
}

.blue {
    background-color: #29A5BD!important;
}

#questionnaire p {
    margin: 0;
}

#questionnaire #question span {
    font-size: 1.2em;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    margin: 10px;
    text-align: center;
}


#questionnaire #input > div {
    text-align: center;
    margin: 0 auto 10px auto;
}

#questionnaire #input label {
    background-color: white;
    border-radius: 10px;
    color: #006699;
    border: 1px solid #006699;
    width: 60%;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}

.yellow {
    background-color: #006699!important;
    color: white!important;
}

#questionnaire .next {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

#questionnaire .next a {
    background-color: #006699;
    color: white;
    font-size: 1.2em;
    padding: 10px;
}

#questionnaire .next input {
    background-color: #006699;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    border: none;
}

#prefooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#prefooter div {
    border: 1px solid #d9d9d9;
    background-color: #f2f2f2;
}

#prefooter img {
    max-width: 100%;
    max-height: 100%;
}

#formcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

#hometitle {
    color: #990000;
    border-bottom: 1px solid #990000;
    margin: 10px;
}

#docteur {
    margin: 10px;
    border: 1px solid #6E6E6E;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
}

#docteur img {
    border-radius: 50%;
    width: 80px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
}

input {
    border: 1px solid darkgray;
}

#activity {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#activity .activities {
    width: 26%;
    height: 140px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    background-color: #f2f2f2;
    margin: 5px;
    color: #990000;
    font-size: 0.8em;
    text-align: center;
}

#activity .activities img {
    max-width: 100%;
    max-height: 100%;
}